# Tip 1 - Age as of Today Functionality

The following query uses the GETDATE() function create a dynamic age field.

In [1]:
-- What is the title and age of each of the employees as of today?
USE Northwind_2023;
GO

SELECT TOP 5 CONCAT(emp.FirstName, ' ', emp.LastName) as 'Employee'
	  ,emp.Title
	  ,DATEDIFF(yy, emp.BirthDate, CAST(GETDATE() as DATE)) as 'Age'
FROM dbo.Employees emp
;

Employee,Title,Age
Nancy Davolio,Sales Representative,51
Andrew Fuller,"Vice President, Sales",47
Janet Leverling,Sales Representative,36
Margaret Peacock,Sales Representative,62
Steven Buchanan,Sales Manager,44

# Tip 2 - This is my NEXT Topic and Query
Explain some functionality, then in the box below, create a sample query!