All emojis in this project are courtesy ofÂ [EmojiCopy.com](https://emojicopy.com/).

# ðŸš€Â Tip 1 - Age as of Today Functionality

The following query uses the GETDATE() function. It can be combined with other date-time fields for days, years, or months calculations.  
This code uses this functionality in the Northwind\_2023 database.

```
USE Northwind_2023;
GO

SELECT CONCAT(emp.FirstName, ' ', emp.LastName) as 'Employee'
      ,emp.Title
      ,DATEDIFF(yy, emp.BirthDate, CAST(GETDATE() as DATE)) as 'Age'
FROM dbo.Employees emp
;

```

In [1]:
-- What is the title and age of each of the employees as of today?
USE Northwind_2023;
GO

SELECT TOP 5 CONCAT(emp.FirstName, ' ', emp.LastName) as 'Employee'
	  ,emp.Title
	  ,DATEDIFF(yy, emp.BirthDate, CAST(GETDATE() as DATE)) as 'Age'
FROM dbo.Employees emp
;

Employee,Title,Age
Nancy Davolio,Sales Representative,51
Andrew Fuller,"Vice President, Sales",47
Janet Leverling,Sales Representative,36
Margaret Peacock,Sales Representative,62
Steven Buchanan,Sales Manager,44

# Tip 2 - Inner Joins

Explain some functionality, then in the box below, create a sample query!

*The following query will just return 5 rows.*

In [1]:
SELECT TOP 5 prod.ProductID
      ,prod.ProductName
      ,cat.CategoryName
FROM Products prod
	INNER JOIN Categories cat
    ON prod.CategoryID = cat.CategoryID
;

ProductID,ProductName,CategoryName
1,Chai,Beverages
2,Chang,Beverages
3,Aniseed Syrup,Condiments
4,Chef Anton's Cajun Seasoning,Condiments
5,Chef Anton's Gumbo Mix,Condiments

# Tip 3 - Schema Structure

Insert explanation here...

In [1]:
SELECT TOP 5 tab.object_id as 'TableID'
	  ,tab.name as 'TableName'
	  ,aco.column_id
	  ,aco.name as 'ColumnName'
	  ,tab.schema_id
	  ,sch.name as 'Schema'
      -- Show hierachy from the schema to column
	  ,concat(sch.name, '.', tab.name) as 'fqnTable'
	  ,concat(sch.name, '.', tab.name, '.', aco.name) as 'fqnColumn'
FROM sys.tables tab
	INNER JOIN sys.all_columns aco
	ON tab.object_id = aco.object_id
	INNER JOIN sys.schemas sch
	ON tab.schema_id = sch.schema_id
ORDER BY TableName, column_id
;

TableID,TableName,column_id,ColumnName,schema_id,Schema,fqnTable,fqnColumn
901578250,Categories,1,CategoryID,1,dbo,dbo.Categories,dbo.Categories.CategoryID
901578250,Categories,2,CategoryName,1,dbo,dbo.Categories,dbo.Categories.CategoryName
901578250,Categories,3,Description,1,dbo,dbo.Categories,dbo.Categories.Description
901578250,Categories,4,Picture,1,dbo,dbo.Categories,dbo.Categories.Picture
933578364,Customers,1,LookupID,1,dbo,dbo.Customers,dbo.Customers.LookupID