# Import necessary libraries

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report
# from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score

# Load the dataset

In [2]:
df = pd.read_csv('./data/penguins_clean.csv')
df.head(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,Male
1,Adelie,Torgersen,39.5,17.4,186,3800,Female
2,Adelie,Torgersen,40.3,18.0,195,3250,Female

# Perform EDA

In [3]:
# no EDA to perform in this model as the focus is just on a simple pipeline and how it works...

# Prepare the data for modeling

In [4]:
X = df.drop(columns=['species'])
y = df['species']

In [5]:
X

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Torgersen,39.1,18.7,181,3750,Male
1,Torgersen,39.5,17.4,186,3800,Female
2,Torgersen,40.3,18.0,195,3250,Female
3,Torgersen,36.7,19.3,193,3450,Female
4,Torgersen,39.3,20.6,190,3650,Male
...,...,...,...,...,...,...
328,Biscoe,47.2,13.7,214,4925,Female
329,Biscoe,46.8,14.3,215,4850,Female
330,Biscoe,50.4,15.7,222,5750,Male
331,Biscoe,45.2,14.8,212,5200,Female
332,Biscoe,49.9,16.1,213,5400,Male

# One Hot Encoding

In [6]:
# Apply get_dummies to the entire dataset
X = pd.get_dummies(X, drop_first=True)

# Split the data into train and test sets

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
# Create a pipeline standard scaler, and logistic regression
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('logreg', LogisticRegression())
])

# Train the model

In [9]:
# Train the model
pipeline.fit(X_train, y_train)

# Make predictions
y_pred = pipeline.predict(X_test)

# Print classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      Adelie       0.98      1.00      0.99        48
   Chinstrap       1.00      0.94      0.97        18
      Gentoo       1.00      1.00      1.00        34

    accuracy                           0.99       100
   macro avg       0.99      0.98      0.99       100
weighted avg       0.99      0.99      0.99       100