## DF to MS SQL

In [ ]:
# uncomment these and run this if not loaded...
# !pip3 install pandas
# !pip install pymssql

In [ ]:
import pandas as pd
df = pd.read_csv('./data/TitanicFinal_1.csv')
df.describe(include='object').T

In [ ]:
df.columns

In [ ]:
df.head(3)

In [ ]:
df = df[['ID', 'LastName', 'FirstName', 'Title', 'Gender',  'txt.Boarded', 'txt.Class', 'int.Yrs', 'txt.Survive']]
df.columns = ['ID', 'LastName', 'FirstName', 'Title', 'Gender',  'Boarded', 'Class', 'Yrs', 'Survive']

In [ ]:
df.head(1)

# Create table in SSMS 

CREATE TABLE stg.Titanic(
    ID INT,
    LastName NVARCHAR(50),
    FirstName NVARCHAR(50),
    Title NVARCHAR(10),
    Gender NVARCHAR(2),
    Boarded NVARCHAR(50),
    Class NVARCHAR(5),
    Yrs	INT,
    Survive NVARCHAR(5)
)

In [ ]:
import pymssql

# Establish the connection
conn = pymssql.connect(server = 'localhost', user = 'pythonwriter', password = 'passy1234', database = 'Sandbox')  
cursor = conn.cursor()

# Insert Dataframe into SQL Server:
for index, row in df.iterrows():
    #cursor.execute("INSERT INTO stg.Titanic(ID, LastName, FirstName, Title, Gender, Boarded, Class, Yrs, Survive) values(%s,%s,%s,%s,%s,%s,%s,%s,%s)", row['ID'], row['LastName'], row['FirstName'], row['Title'], row['Gender'], row['Boarded'], row['Class'], row['Yrs'], row['Survive'])
    insert_q = f"INSERT INTO stg.Titanic(ID, LastName, FirstName, Title, Gender, Boarded, Class, Yrs, Survive) values(%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cursor.execute(insert_q, (row['ID'], row['LastName'], row['FirstName'], row['Title'], row['Gender'], row['Boarded'], row['Class'], row['Yrs'], row['Survive'] ))
    
conn.commit()
cursor.close()
conn.close()

print("DataFrame written to SQL Server successfully!")